 * {
    box-sizing: border-box;
    margin: 0px;
}

body {
    background-color: rgb(235, 212, 219);
    margin: auto;
}

/* Header */
.site-header {
    background-color: palevioletred;
    padding: 20px 0px;
    text-align: center;
    color: antiquewhite;
    height: 120px;
    position: fixed;
    width: 100%;
    top: 0%;
    z-index: 1;
}

.nav-bar {
    display: flex;
    justify-content: center;
    gap: 30px;
    font-weight: bolder;
    font-size: larger;
    padding: 15px 0px;
    animation-name: navAnimation;
    animation-duration: 3s;
    animation-fill-mode: forward;
}

.nav-item {
    color: rgb(147, 25, 66);
}

.nav-item:hover {
    background-color: rgb(199, 63, 108);
    color: aliceblue;
}

.nav-item:active {
    background-color: rgb(128, 27, 42);
    color: black;
}

#main-title {
    animation-name: headerAnimation;
    animation-duration: 3s;
    animation-fill-mode: forwards;
}

@keyframes headerAnimation {
    0% { transform: translateY(-100px) }
    100% { transform: translateY(8px) }
}

@keyframes navAnimation {
    0% { transform: translateX(-1000px); }
    100% { transform: translateX(0); }
}

.section-intro {
    margin-top: 150px;
    color: rgb(132, 10, 50);
    padding-left: 30px;
}

#cat-icon {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 40px;
    border: 3px solid purple;
    animation: catMove 30s forwards;
    animation-iteration-count: infinite;
}

@keyframes catMove {
    0%{left:-100px; top:0px}
    50%{ left:100%; top:0px;transform: rotateY(360deg);}
    100%{top:0px; left:-100px;}
}

.section-form {
    padding: 10px 30px;
    color: brown;
    transition: all 2s;
    opacity: 0.7;
    font-weight: bolder;
}

.section-form:hover {
    color: brown;
    opacity: 1;
    background-color: antiquewhite;
}
.site-footer {
    text-align: center;
    color: brown;
    transition: all 2s;
    padding-bottom: 100px;
}

.site-footer:hover {
    transform: scale(1.3);
}

.explanation-box {
    display: grid;
    grid-template-columns: 250px 190px;
    gap: 5px;
    height: 150px;
}

.form-input {
    transition: all 2s;
}

.form-input:hover {
    background-color: palevioletred;
}

.form-input::placeholder {
   transition: all 2s;
   color: brown;
}
.contact-links {
    padding-left: 660px;
}

.social-icon {
    transition: all;
}

.social-icon:hover {
    transform: scale(1.2);
}

@media (max-width: 600px){
       .contact-links{ 
                    padding:10px 0px;
                     text-align: center; }
       img{
        width: 100%;
       }
}
@media (max-width: 1024px) {
     .contact-links{ 
                    padding:10px 0px;
                     text-align: center; }
    img{
        width: 100%;
       }
   }